{% from "cart_extra/templates/includes/cart/cart_macros.html" import show_address %}

{% if addresses | length == 1%}
	{% set select_address = True %}
{% endif %}

<style>
	input:invalid {
		border-color: #ff5400;
	}
</style>

{% set show_coupon_code = frappe.db.get_single_value('Shopping Cart Settings', 'show_apply_coupon_code_in_website') %}
{% if show_coupon_code == 1%}
<div class="mb-3">
	<div class="row no-gutters">
		<input type="text" class="txtcoupon form-control mr-3 w-25" placeholder="Enter Coupon Code" name="txtcouponcode"  ></input>
		<button class="btn btn-primary btn-sm  bt-coupon">{{ _("Apply Coupon Code") }}</button>
		<input type="hidden" class="txtreferral_sales_partner" placeholder="Enter Sales Partner" name="txtreferral_sales_partner" type="text"></input>
		</div>
</div>
{% endif %}
<div class="mb-3" data-section="shipping-address">
	{% if is_guest %}
		{% include "templates/includes/cart/guest_address_form.html" %}
	{% else %}
	<div class="row no-gutters" data-fieldname="shipping_address_name">
		<h6 class="text-uppercase">{{ _("Shipping Address") }}</h6>
		{% for address in shipping_addresses %}
			<div class="mr-3 mb-3 w-25" data-address-name="{{address.name}}" data-address-type="shipping" {% if doc.shipping_address_name == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		{% endfor %}
	</div>
	{% endif %}
</div>

{% if not is_guest %}
<div class="mb-3" data-section="billing-address">
	<h6 class="text-uppercase">{{ _("Billing Address") }}</h6>
	<div class="row no-gutters" data-fieldname="customer_address">
		{% for address in billing_addresses %}
			<div class="mr-3 mb-3 w-25" data-address-name="{{address.name}}" data-address-type="billing" {% if doc.customer_address == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		{% endfor %}
	</div>
</div>
{% endif %}

{% if is_guest %}
	<button class="btn btn-default btn-sm" id="copy">
		{{ _("Same as Shipping Address")}}
	</button>
{% else %}
<div class="custom-control custom-checkbox">
	<input type="checkbox" class="custom-control-input" id="input_same_billing" checked>
	<label class="custom-control-label" for="input_same_billing">{{ _('Billing Address is same as Shipping Address') }}</label>
</div>
<button class="btn btn-outline-primary btn-sm mt-3 btn-new-address">{{ _("Add a new address") }}</button>
{% endif %}

<script>
frappe.ready(() => {
	$(document).on('click', '.address-card', (e) => {
		const $target = $(e.currentTarget);
		const $section = $target.closest('[data-section]');
		$section.find('.address-card').removeClass('active');
		$target.addClass('active');
	});

	$('#input_same_billing').change((e) => {
		const $check = $(e.target);
		toggle_billing_address_section(!$check.is(':checked'));
	});

	$('.btn-new-address').click(() => {
		const d = new frappe.ui.Dialog({
			title: __('New Address'),
			fields: [
				{
					label: __('Address Title'),
					fieldname: 'address_title',
					fieldtype: 'Data',
					reqd: 1
				},
				{
					label: __('Address Line 1'),
					fieldname: 'address_line1',
					fieldtype: 'Data',
					reqd: 1
				},
				{
					label: __('Address Line 2'),
					fieldname: 'address_line2',
					fieldtype: 'Data'
				},
				{
					label: __('City/Town'),
					fieldname: 'city',
					fieldtype: 'Data',
					reqd: 1
				},
				{
					label: __('State'),
					fieldname: 'state',
					fieldtype: 'Data'
				},
				{
					label: __('Country'),
					fieldname: 'country',
					fieldtype: 'Link',
					options: 'Country',
					reqd: 1
				},
				{
					fieldname: "column_break0",
					fieldtype: "Column Break",
					width: "50%"
				},
				{
					label: __('Address Type'),
					fieldname: 'address_type',
					fieldtype: 'Select',
					options: [
						'Billing',
						'Shipping'
					],
					reqd: 1
				},
				{
					label: __('Pin Code'),
					fieldname: 'pincode',
					fieldtype: 'Data'
				},
				{
					fieldname: "phone",
					fieldtype: "Data",
					label: "Phone"
				},
			],
			primary_action_label: __('Save'),
			primary_action: (values) => {
				frappe.call('erpnext.shopping_cart.cart.add_new_address', { doc: values })
					.then(r => {
						frappe.call({
							method: "erpnext.shopping_cart.cart.update_cart_address",
							args: {
								address_type: r.message.address_type,
								address_name: r.message.name
							},
							callback: function (r) {
								d.hide();
								window.location.reload();
							}
						});
					});

			}
		})

		d.show();
	});

	function setup_state() {
		const shipping_address = $('[data-section="shipping-address"]')
			.find('[data-address-name][data-active]').attr('data-address-name');

		const billing_address = $('[data-section="billing-address"]')
			.find('[data-address-name][data-active]').attr('data-address-name');

		$('#input_same_billing').prop('checked', shipping_address === billing_address).trigger('change');

		if (!shipping_address && !billing_address) {
			$('#input_same_billing').prop('checked', true).trigger('change');
		}

		if (shipping_address) {
			$(`[data-section="shipping-address"] [data-address-name="${shipping_address}"] .address-card`).addClass('active');
		}
		if (billing_address) {
			$(`[data-section="billing-address"] [data-address-name="${billing_address}"] .address-card`).addClass('active');
		}
	}

	setup_state();

	function toggle_billing_address_section(flag) {
		$('[data-section="billing-address"]').toggle(flag);
	}
});
</script>

<!-- 
{% from "cart_extra/templates/includes/cart/cart_macros.html" import show_address %}
<div class="row">
	{% if addresses|length == 1%}
		{% set select_address = True %}
	{% endif %}
	<style>
		input:invalid {
			border-color: #ff5400;
		}
	</style>
	<div class="col-sm-6">
		<div class="h6 text-uppercase">{{ _("Shipping Address") }}</div>
		<div id="cart-shipping-address" class="panel-group"
			data-fieldname="shipping_address_name">
			{% if is_guest %}
				<div id="shipping">
					<form id="shipping-form">
						<div class="form-group">
							<label for="full_name">Name</label>
							<input type="text" class="form-control" id="name" name="full_name" placeholder="Name" required>
						</div>
						<div class="form-group">
							<label for="address_line1">Address Line 1</label>
							<input type="text" class="form-control" id="address_line1" name="address_line1" required>
						</div>
						<div class="form-group">
							<label for="address_line2">Address Line 2</label>
							<input type="text" class="form-control" id="address_line2" name="address_line2">
						</div>
						<div class="row">
							<div class="col col-sm-4">
								<div class="form-group">
									<label for="city">City</label>
									<input type="text" class="form-control" id="city" name="city" required>
								</div>
							</div>
							<div class="col col-sm-4">
								<div class="form-group">
									<label for="state">State</label>
									<input type="text" class="form-control" id="state" name="state" required>
								</div>
							</div>
							<div class="col col-sm-4">
								<div class="form-group">
									<label for="pincode">ZIP</label>
									<input type="text" class="form-control" id="pincode" name="pincode" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="country">Country</label>
							<input type="text" class="form-control" id="country" name="country" value="United States" disabled required>
						</div>
						<div class="form-group">
							<label for="phone">Phone Number</label>
							<input type="text" class="form-control" id="phone" name="phone" required>
						</div>
						<div class="form-group">
							<label for="email_id">Email</label>
							<input type="email" class="form-control" id="email_id" name="email_id" required>
						</div>
					</form>
				</div>
			{% endif %}
            {% for address in shipping_addresses %}
                {{ show_address(address, doc, "shipping_address_name", select_address) }}
            {% endfor %}
		</div>
		{% if not is_guest %}
			<a class="btn btn-default btn-sm" href="/addresses">
				{{ _("Manage Addresses") }}
			</a>
		{% endif %}
	</div>
	<div class="col-sm-6">
        <div class="h6 text-uppercase">{{ _("Billing Address") }}</div>
		<div id="cart-billing-address" class="panel-group"
			data-fieldname="customer_address">
			{% if is_guest %}
				<div id="billing">
					<form id="billing-form">
						<div class="form-group">
							<label for="full_name">Name</label>
							<input type="text" class="form-control" id="full_name" placeholder="Name" name="full_name" required>
						</div>
						<div class="form-group">
							<label for="address_line1">Address Line 1</label>
							<input type="text" class="form-control" id="address_line1" name="address_line1" required>
						</div>
						<div class="form-group">
							<label for="address_line2">Address Line 2</label>
							<input type="text" class="form-control" id="address_line2" name="address_line2">
						</div>
						<div class="row">
							<div class="col col-sm-4">
								<div class="form-group">
									<label for="city">City</label>
									<input type="text" class="form-control" id="city" name="city" required>
								</div>
							</div>
							<div class="col col-sm-4">
								<div class="form-group">
									<label for="state">State</label>
									<input type="text" class="form-control" id="state" name="state" required>
								</div>
							</div>
							<div class="col col-sm-4">
								<div class="form-group">
									<label for="pincode">ZIP</label>
									<input type="text" class="form-control" id="pincode" name="pincode" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="country">Country</label>
							<input type="text" class="form-control" id="country" name="country" value="United States" disabled required>
						</div>
						<div class="form-group">
							<label for="phone">Phone Number</label>
							<input type="text" class="form-control" id="phone" name="phone" required>
						</div>
						<div class="form-group">
							<label for="email_id">Email</label>
							<input type="email" class="form-control" id="email_id" name="email_id" required>
						</div>
					</form>
				</div>
				{% if is_guest %}
					<button class="btn btn-default btn-sm" id="copy">
						{{ _("Same as Shipping Address")}}
					</button>
				{% endif %}
			{% endif %}
            {% for address in billing_addresses %}
                {{ show_address(address, doc, "customer_address", select_address) }}
            {% endfor %}
        </div>
	</div>
</div> -->
